@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
  all: revert;
}
.markdown h1 {
  font-size: 2.5rem;
}

html{
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
